/* game board table */
html {
font-family: 'Passion One', sans-serif;
}

#game{
  margin-left: auto;
  margin-right: auto;
  justify-self: center\;
}

#board td {
  width: 50px;
  height: 50px;
  border: solid 1px #666;
}


.piece {
  margin: 5px;
  width: 80%;
  height: 80%;
  border-radius: 50%;
}

.piece.p1 {
  background-color: red;
}

.piece.p2 {
  background-color: blue;
}

/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 1px lightgray;
}

#column-top td:hover {
  background-color: gold;
}


input {

}

#startButton {
  margin: 25px;
  border-radius: 12px;
  height: 40px;
  width: 100px;
  line-height: 40px; 
  text-align: center;
  display: inline-block; 
  cursor: pointer; 
  background-color: blue;
  color: white;
}